@page
@model AccountLedger.Pages.Account.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Name)
            </th>
           @* <th>
                Number of Transactions
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Accounts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                    @(item.Transactions == null ? 0 : item.Transactions.Count)
            </td>*@
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Transaction/Index" asp-route-id="@item.Id">Statement</a> |
                <a asp-page="./Transaction/Create" asp-route-id="@item.Id">Debit/Credit</a> |
                @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
